# Core framework
Django==5.2.3

djangorestframework==3.15.2
# Filtering
django-filter==24.3
# JWT auth
djangorestframework-simplejwt==5.3.1
# CORS
django-cors-headers==4.4.0
# PostgreSQL driver (dev)
# psycopg2-binary==2.9.9
# Utilities
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
